{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="h1-history text-white fw-bold display-6 text-uppercase">à propos</h1>
</div>

<div class="frame-about-content d-flex justify-content-center">
    <div class="frame-about">
    </div>
</div>
{% endblock %}
