.suspend-button {
    background-color: #CBBBA0;
    color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    border: 2px solid #95C11F;
}
.delete-button {
    background-color: #936037;
    color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    border: 2px solid #95C11F;
}