{% extends 'base.html.twig' %}

{% block title %}Hello PersonalSpaceController!
{% endblock %}

{% block body %}

	<h1 class="h1-history text-center text-white fw-bold display-6 text-uppercase">Espace Perso</h1>
	<div class="next-tickets m-auto mb-3">
		<div class="next-ticket-driver_ps mb-3 mt-3">
			<h3 class="h3_ps text-center text-white text-uppercase fs-5 mt-1 mb-0">prochain ticket chauffeur</h3>
			<div class="div-infos">
				<div class="info-next-carpool-driver d-flex">
					<div class="infos_date-hour">
						<p class="p-date_ps mb-1 mt-1 text-uppercase text-center text-white">le ../../..</p>
						<p class="p-hour mb-1 text-uppercase text-center text-white">..h..</p>
						<p class="p-ride_ps mb-1 text-uppercase text-center text-white">de (ville) à (ville)</p>
					</div>
					<div class="infos_vehicul-price-eco">
						<p class="p-vehicle_ps mb-1 mt-1 text-uppercase text-center text-white">vehicule</p>
						<p class="p-price_ps mb-1 text-uppercase text-center text-white">prix par place</p>
						<div class="checkbox m-auto">
							<div class="ride-eco d-flex justify-content-center">
								<label class="eco_ps text-uppercase d-block text-center text-white me-1 mb-0" for="_ride-eco">trajet éco</label>
								<input class="mb-0" type="checkbox" name="_ride-eco" id="_ride-eco">
							</div>
						</div>
					</div>
				</div>
				<div class="sep-hori m-auto bg-white"></div>
				<div class="passenger-list">
					<div class="first-passenger m-auto mt-2 mb-2 d-flex">
						<div class="photo-passenger-inscrit"></div>
						<div class="pseudo-note-passenger_ps">
							<p class="pseudo_ps text-uppercase d-block text-center mb-0 mt-1">pseudo</p>
							<p class="note_ps text-uppercase text-center mb-0">note</p>
						</div>
						<div class="frame-adress_ps">
							<p class="text-adress_ps text-white text-uppercase text-center mb-2">déposer à :</p>
							<div class="m-auto">
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">123 rue de l'arrivée,</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">12345 arrivée city, aveyron</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">france</p>
							</div>
						</div>
						<div class="passenger-present">
							<input class="checkbox-passenger-present" type="checkbox" name="_ride-eco" id="_ride-eco">
						</div>
					</div>
					<div class="sep-hori m-auto bg-white"></div>
					<div class="second-passenger m-auto mt-2 mb-2 d-flex">
						<div class="photo-passenger-inscrit"></div>
						<div class="pseudo-note-passenger_ps">
							<p class="pseudo_ps text-uppercase text-center mb-0 mt-1">pseudo</p>
							<p class="note_ps text-uppercase text-center mb-0">note</p>
						</div>
						<div class="frame-adress_ps">
							<p class="text-adress_ps text-white text-uppercase text-center mb-2">déposer à :</p>
							<div class="m-auto">
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">123 rue de l'arrivée,</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">12345 arrivée city, aveyron</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">france</p>
							</div>
						</div>
						<div class="passenger-present">
							<input class="checkbox-passenger-present" type="checkbox" name="_ride-eco" id="_ride-eco">
						</div>
					</div>
					<div class="sep-hori m-auto bg-white"></div>
					<div class="third-passenger m-auto mt-2 mb-2 d-flex">
						<div class="photo-passenger-inscrit"></div>
						<div class="pseudo-note-passenger_ps">
							<p class="pseudo_ps text-uppercase text-center mb-0 mt-1">pseudo</p>
							<p class="note_ps text-uppercase text-center mb-0">note</p>
						</div>
						<div class="frame-adress_ps">
							<p class="text-adress_ps text-white text-uppercase text-center mb-2">déposer à :</p>
							<div class="m-auto">
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">123 rue de l'arrivée,</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">12345 arrivée city, aveyron</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">france</p>
							</div>
						</div>
						<div class="passenger-present">
							<input class="checkbox-passenger-present" type="checkbox" name="_ride-eco" id="_ride-eco">
						</div>
					</div>
					<div class="sep-hori m-auto bg-white"></div>
					<div class="third-passenger m-auto mt-2 mb-2 d-flex">
						<div class="photo-passenger-inscrit"></div>
						<div class="pseudo-note-passenger_ps">
							<p class="pseudo_ps text-uppercase text-center mb-0 mt-1">pseudo</p>
							<p class="note_ps text-uppercase text-center mb-0">note</p>
						</div>
						<div class="frame-adress_ps">
							<p class="text-adress_ps text-white text-uppercase text-center mb-2">déposer à :</p>
							<div class="m-auto">
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">123 rue de l'arrivée,</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">12345 arrivée city, aveyron</p>
								<p class="p-adress_ps text-white text-uppercase text-center mb-0">france</p>
							</div>
						</div>
						<div class="passenger-present">
							<input class="checkbox-passenger-present" type="checkbox" name="_ride-eco" id="_ride-eco">
						</div>
					</div>
				</div>
				<div class="sep-hori m-auto bg-white"></div>
				<div class="frame-buttons_ps d-flex">
					<div class="frame-button-annul_ps">
						<div class="d-flex justify-content-center">
							<button class="button-annul-ride btn-lg text-uppercase text-white fw-bold" type="submit">annuler</button>
						</div>
					</div>
					<div class="frame-button-start-stop_ps">
						<div class="d-flex justify-content-end">
							<button class="button-start-ride btn-lg text-uppercase fw-bold" type="submit">démarrer</button>
							<button class="button-stop-ride btn-lg text-uppercase fw-bold" type="submit">arrêter</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="next-ticket-passenger_ps">
			<h3 class="h3_ps text-center text-white text-uppercase fs-5 mt-1 mb-0">prochain ticket passager</h3>
			<div class="infos-next-ride">
				<div class="infos d-flex">
					<div class="infos-driver">
						<p class="title text-center text-white text-uppercase mb-0">chauffeur</p>
						<div class="photo-driver bg-white m-auto mb-0"></div>
						<p class="title-pseudo text-center text-white mb-0">pseudo</p>
						<p class="title-note text-center text-white mb-0">note</p>
					</div>
					<div class="sep-vert bg-white"></div>
					<div class="infos-ride">
						<p class="title text-center text-white text-uppercase mb-2">trajet / véhicule</p>
						<div class="infos-ride-passenger">
							<div class="date-h d-flex">
								<p class="title-date text-center text-white text-uppercase mb-0 mt-0">le : .. / .. / ..</p>
								<p class="title-h text-center text-white text-uppercase mb-0 mt-0">départ à : .. h ..</p>
							</div>
							<div class="next-ride-passenger">
								<p class="title-pseudo text-center text-white text-uppercase mb-0 mt-0">de : (ville) à : (ville)</p>
							</div>
							<div class="brand-model-vehicle">
								<p class="title-pseudo text-center text-white text-uppercase mb-0 mt-0">marque modèle</p>
							</div>
						</div>
					</div>
					<div class="sep-vert bg-white"></div>
					<div class="infos-price">
						<p class="title text-center text-white text-uppercase mb-0">prix</p>
						<p class="number-price text-center text-white mb-0 mt-1">8</p>
						<p class="title-credits text-center text-white text-uppercase mb-0">crédits</p>
					</div>
				</div>
				<div class="sep-hori m-auto bg-white"></div>
				<div class="others-passengers">
					<div class="first-line d-flex m-auto">
						<div class="first-other-passenger m-auto">
							<div class="infos-other-passenger d-flex">
								<div class="photo-other-passenger bg-white"></div>
								<div class="details-other-passenger">
									<p class="title-pseudo text-center mb-1 mt-1">pseudo</p>
									<p class="title-note text-center mb-1">note</p>
									<p class="title-note text-center mb-1">.. trajet(s)</p>
								</div>
							</div>
						</div>
						<div class="sep-vert bg-white"></div>
						<div class="second-other-passenger m-auto">
							<div class="infos-other-passenger d-flex">
								<div class="photo-other-passenger bg-white"></div>
								<div class="details-other-passenger">
									<p class="title-pseudo text-center mb-1 mt-1">pseudo</p>
									<p class="title-note text-center mb-1">note</p>
									<p class="title-note text-center mb-1">.. trajet(s)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="sep-hori m-auto bg-white"></div>
					<div class="second-line d-flex m-auto">
						<div class="first-other-passenger m-auto">
							<div class="infos-other-passenger d-flex">
								<div class="photo-other-passenger bg-white"></div>
								<div class="details-other-passenger">
									<p class="title-pseudo text-center mb-1 mt-1">pseudo</p>
									<p class="title-note text-center mb-1">note</p>
									<p class="title-note text-center mb-1">.. trajet(s)</p>
								</div>
							</div>
						</div>
						<div class="sep-vert bg-white"></div>
						<div class="second-other-passenger m-auto">
							<div class="infos-other-passenger d-flex">
								<div class="photo-other-passenger bg-white"></div>
								<div class="details-other-passenger">
									<p class="title-pseudo text-center mb-1 mt-1">pseudo</p>
									<p class="title-note text-center mb-1">note</p>
									<p class="title-note text-center mb-1">.. trajet(s)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sep-hori m-auto bg-white"></div>
				<div class="options-ride d-flex">
					<div class="see-details">
						<p class="title-pseudo text-center text-white mb-1">voir details</p>
					</div>
					<div class="div-button-annul d-flex justify-content-center">
						<button class="button-annul-ride-other-passenger btn-lg text-uppercase fw-bold" type="submit">annuler</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="details-perso-space m-auto">
		<div class="title-infos-personal-space d-flex">
			<div class="personal-credits-1_ps mb-3">
				<h2 class="text-personal-credits-1_ps text-end text-white text-uppercase text-end">vous disposez de :</h2>
			</div>
			<div class="personal-credits-2_ps">
				<h2 class="text-personal-credits-2_ps text-white text-uppercase">18 crédit(s)</h2>
			</div>
		</div>
		<div class="infos-perso m-auto mt-2 d-flex">
			<div class="your-photo bg-white">
				<div class="photo-first-frame-infos-pers_ps">
					<img class="selec-other-photo" src="{{ asset("images/select-other-photo.svg") }}">
				</div>
			</div>
			<div class="div-note mb-0">
				<div class="note_ps">
					<div class="notes-moyennes">
						<div class="sep-hori_ps1 m-auto bg-white"></div>
						<div class="note-moyenne-driver">
							<p class="text-white text-center text-uppercase mb-0">note moyenne</p>
							<p class="text-white text-center text-uppercase mb-1">chauffeur</p>
							<p class="text-white text-center text-uppercase fs-4">. , . / 5</p>
						</div>
						<div class="sep-inter-hori mt-0 m-auto mb-0 bg-white"></div>
						<div class="note-moyenne-passenger">
							<p class="text-white text-center text-uppercase mb-0">note moyenne</p>
							<p class="text-white text-center text-uppercase mb-1">passager</p>
							<p class="text-white text-center text-uppercase fs-4">. , . / 5</p>

						</div>
						<div class="sep-hori_ps2 m-auto bg-white"></div>
					</div>
				</div>
			</div>
			<div class="sep-vert_ps1 bg-white"></div>
			<div class="div-infos-perso">
				<div class="sep-hori_ps3 bg-white mt-0"></div>
				<div class="img-modified-infos d-flex justify-content-end">
					<img src="{{ asset("images/infos-perso-icon.svg") }}">
				</div>
				<div class="infos-perso-infos_ps">
					<p class="text1_ps text-white text-center text-uppercase mb-2 mt-0">pseudo</p>
					<p class="text2_ps text-white text-center text-uppercase mt- mb-2">email</p>
					<p class="text3_ps text-white text-center text-uppercase mt-0 mb-0">mot de passe</p>
				</div>
				<div class="sep-hori_ps2 bg-white mt-0"></div>
			</div>
			<div class="sep-vert_ps2 bg-white"></div>
		</div>
		<div class="last-notice m-auto mt-2">
			<div class="last-notice-passenger mb-0">
				<h3 class="h3_ps text-center text-white text-uppercase mt-1 mb-1">dernier avis passager</h3>
				<div class="general-frame m-auto d-flex">
					<div class="photo-passenger-inscrit"></div>
					<div class="pseudo-note-passenger_ps">
						<p class="pseudo_ps text-uppercase text-center mb-0 mt-1">pseudo</p>
						<p class="note_ps text-uppercase text-center mb-0">note</p>
					</div>
					<div class="frame-notice_ps">
						<div class="m-auto">
							<p class="p-adress_ps text-white text-center mb-2">Super chauffeur !!</p>
							<p class="p-adress_ps text-white text-center mb-0">Très bonne conduite, très "coulée". Super ambiance dans la voiture !!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sep-hori m-auto bg-white mt-0"></div>
			<div class="last-notice-driver">
				<h3 class="h3_ps text-center text-white text-uppercase mt-1 mb-1">dernier avis chauffeur</h3>
				<div class="general-frame m-auto d-flex">
					<div class="photo-passenger-inscrit"></div>
					<div class="pseudo-note-passenger_ps">
						<p class="pseudo_ps text-uppercase text-center mb-0 mt-1">pseudo</p>
						<p class="note_ps text-uppercase text-center mb-0">note</p>
					</div>
					<div class="frame-notice_ps">
						<div class="m-auto">
							<p class="p-adress_ps text-white text-center mb-2">Super chauffeur !!</p>
							<p class="p-adress_ps text-white text-center mb-0">Très bonne conduite, très "coulée". Super ambiance dans la voiture !!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="user-statut m-auto mt-2">
			<h3 class="h3_ps text-center text-white text-uppercase mt-1 mb-4">statut chauffeur / passager</h3>
			<p class="statut_ps text-uppercase text-white text-center mb-2 mt-1">choisissez le ou les statut(s)</p>
			<div class="d-flex mb-4">
				<div class="checkbox-driver m-auto">
					<label class="text-uppercase text-white" for="_chauffeur">chauffeur</label>
					<input type="checkbox" name="_chauffeur" id="_chauffeur">
				</div>
				<div class="checkbox m-auto">
					<label class="text-uppercase text-white" for="_passager">passager</label>
					<input type="checkbox" name="_passager" id="_passager">
				</div>
			</div>
			<div class="div-button-valid d-flex justify-content-center">
				<button class="button-valid-statut btn-lg text-uppercase fw-bold" type="submit">valider</button>
			</div>
		</div>
		<div class="vehicl-satut_and_organise-ride m-auto mt-2">
			<h3 class="h3_ps text-center text-white text-uppercase fs-5 mt-1 mb-0">statut véhicule</h3>
			<h4 class="list-vehicul-text text-center text-white text-uppercase mt-1 mb-2">liste de véhicule(s)</h4>
			<div class="vehicul-list m-auto">
				<div class="list m-auto">
					<div class="list-content">
						<a class="text-list text-white text-uppercase text-center">vw combi -> hc - 265 - jv</a>
					</div>
					<div class="list-content">
						<a class="text-list text-white text-uppercase text-center">toyota auris -> ug - 846 - gi</a>
					</div>
					<div class="list-content">
						<a class="text-list text-white text-uppercase text-center">renault mégane -> pk - 901 - lm</a>
					</div>
					<div class="list-content">
						<a class="text-list text-white text-uppercase text-center">peugeot 308 -> fd - 357 - nb</a>
					</div>
					<div class="list-content">
						<a class="text-list text-white text-uppercase text-center">alfa romeo giulia -> xv - 198 - sd</a>
					</div>

				</div>
			</div>
			<div class="buttons-statut-vehicl mt-1 d-flex">
				<div class="div-button-recorded-vehicl d-flex">
					<button class="button-recorded-vehicl m-auto btn-lg text-uppercase fw-bold" type="submit">enreg. un véhicule</button>
				</div>
				<div class="div-button-select-vehicl d-flex">
					<button class="button-select-vehicl m-auto btn-lg text-uppercase fw-bold" type="submit">select. un véhicule</button>
				</div>
			</div>
			<div class="sep-hori_vehicl-satut_and_organise-ride m-auto bg-white mt-2"></div>
			<div class="organise-ride">

				<h3 class="h3_ps text-center text-white text-uppercase fs-5 mt-1 mb-2">proposer un trajet</h3>
				<div class="date-hour-adress_departure-arrival d-flex">
					<div class="date-hour-adress_departure">
						<div class="departure m-auto">
							<p class="pseudo_ps text-uppercase text-white text-center mb-0 mt-0">départ</p>
							<div class="form-floating mb-1">
								<input type="date" class="form-control border-input" id="departure-date" placeholder="H:M" name="date">
								<label for="departure-date">Date de départ</label>
							</div>
							<div class="form-floating mb-1">
								<input type="time" class="form-control border-input" id="hour" placeholder="H:M" name="hour">
								<label for="hour">Heure de départ</label>

							</div>
							<div class="form-floating mb-1">
								<input type="text" class="form-control border-input" id="adress" name="adress" placeholder="Ex : 12 rue de la Paix, 75002 Paris">
								<label for="adress">Adresse</label>
							</div>
						</div>
					</div>
					<div class="date-hour-adress_arrival">
						<div class="departure m-auto">
							<p class="pseudo_ps text-uppercase text-white text-center mb-0 mt-0">arrivée</p>
							<div class="form-floating mb-1">
								<input type="date" class="form-control border-input" id="arrival-date" placeholder="H:M" name="date">
								<label for="arrival-date">Date de d'arrivée</label>
							</div>
							<div class="form-floating mb-1">
								<input type="time" class="form-control border-input" id="hour" placeholder="H:M" name="hour">
								<label for="hour">Heure d'arrivée</label>
							</div>
							<div class="form-floating mb-1">
								<input type="text" class="form-control border-input" id="adress" name="adress" placeholder="Ex : 12 rue de la Paix, 75002 Paris">
								<label for="adress">Adresse</label>
							</div>
						</div>
					</div>
				</div>
				<div class="sep-hori_vehicl-satut_and_organise-ride m-auto bg-white mt-2"></div>
				<div class="dispo-seats mt-1">
					<h3 class="h3_ps text-center text-white text-uppercase mt-1 mb-3">nombre de plac(s) disponible(s)</h3>
					<div class="input-seats d-flex justify-content-center">
						<div class="dispo-seats-input form-floating mb-2">
							<input type="text" class="form-control border-input" id="adress" name="adress" placeholder="Ex : 12 rue de la Paix, 75002 Paris">
							<label for="adress">place(s)</label>
						</div>
					</div>
				</div>
				<div class="sep-hori_vehicl-satut_and_organise-ride m-auto bg-white mt-2"></div>
				<div class="option-ride-organised">
					<h3 class="h3_ps text-center text-white text-uppercase mt-1 mb-3">options du trajet</h3>
					<div class="seat-price-ride-organised form-floating m-auto mb-4">
						<input type="int" class="form-control border-input" id="price" name="price" placeholder="10 credits">
						<label for="price">Prix par place en crédits</label>
					</div>
					<div class="div-switch-button m-auto d-flex align-items-center justify-content-center mb-2 gap-5">
						<label for="modeSwitch" class="form-check-label label-switch-button text-uppercase text-white mb-0">véhicule fumeur / vapoteur</label>
						<div class="form-check form-switch m-0">
							<input class="form-check-input" type="checkbox" role="switch" id="modeSwitch">
						</div>
					</div>
					<div class="div-switch-button m-auto d-flex align-items-center justify-content-center mb-2 gap-5">
						<label for="modeSwitch" class="form-check-label label-switch-button text-uppercase text-white mb-0">les animaux y sont acceptés</label>
						<div class="form-check form-switch m-0">
							<input class="form-check-input switch-button" type="checkbox" role="switch" id="modeSwitch">
						</div>
					</div>
					<div class="div-switch-button m-auto d-flex align-items-center justify-content-center mb-4 gap-5">
						<label for="modeSwitch" class="form-check-label label-switch-button text-uppercase text-white mb-0">utilise la climatisation</label>
						<div class="form-check form-switch m-0">
							<input class="form-check-input switch-button" type="checkbox" role="switch" id="modeSwitch">
						</div>
					</div>
					<div class="div-textarea mt-0 mb-3">
						<h3 class="h3_ps text-center text-white text-uppercase mt-4 mb-0">message à l'attention des passagers</h3>
						<textarea class="fram-textarea m-auto form-control border-input" rows="3" maxlength="200"></textarea>
						<div class="div-max-length d-block text-center form-text text-white">Max 200 caractères</div>
					</div>
					<div class="div-button-recorded d-flex">
						<button class="button-recorded m-auto btn-lg text-uppercase fw-bold" type="submit">enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
