{% extends 'layout/a_staff/employee/base_employee.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="text-center mt-6">Bienvenu sur votre compte EMPLOYÉ !! ✅</h1>

{% endblock %}
