{% extends 'layout/a_staff/admin/base_admin.html.twig' %}

{% block title %}Hello Admin dashboard{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center text-white text-uppercase fw-bold">dashboard admin</h1>

        <div class="div-global-graph d-flex justify-content-center mb-6">
            <div class="graph-hours-day container">
                <h5 class="d-block text-center text-uppercase text-white fw-bold mt-2">crédits / jour</h5>
                <h6 class="d-block text-center text-uppercase text-white fw-bold mt-2">date</h6>
                <div class="col-md input-search-wrapper m-auto">
                    <div class="form-floating">
                        <input type="date" class="form-control border-input "
                            id="departure-date"
                            name="date"
                            {# value="{{ date ?? '' }}" #}
                            >
                        <label for="departure-date">Date :</label>
                    </div>
                </div>
                <div class="graphic mt-4 m-auto"></div>
            </div>
            <div class="graph-global-days container">
                <h5 class="d-block text-center text-uppercase text-white fw-bold mt-2">covoiturages / jour</h5>
                <h6 class="d-block text-center text-uppercase text-white fw-bold mt-2">date</h6>
                <div class="col-md input-search-wrapper m-auto">
                    <div class="form-floating">
                        <input type="date" class="form-control border-input"
                            id="departure-date"
                            name="date"
                            {# value="{{ date ?? '' }}" #}
                            >
                        <label for="departure-date">Date :</label>
                    </div>
                </div>
                <div class="graphic mt-4 m-auto"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="stats-appli m-auto">
            <div class="div-credits-appli d-flex">
                <div class="title-stats">
                    <h2 class="credits-appli d-block text-center text-white text-uppercase fw-bold mt-3 mb-3">l'apllication comptabilise : ... crédits</h2>
                </div>
                
            </div>
            <div class="div-nbr-carpool-moyen d-flex justify-content-center">
                <div class="phrase">
                    <h4 class="nbr-carpool-moyen d-block text-start text-white text-uppercase fw-bold mt-1 mb-3 ml-2">le nombre moyen de covoiturages / jour :</h4>
                </div>
                <div class="result">
                    <h4 class="nbr-carpool-moyen d-block text-end text-white text-uppercase fw-bold mt-1 mb-3 ml-2">... covoiturages</h4>
                </div>
            </div>
            <div class="div-max-carpools-one-day d-flex justify-content-center">
                <div class="phrase">
                    <h4 class="nbr-carpool-moyen d-block text-start text-white text-uppercase fw-bold mt-1 mb-3 ml-2">record max de covoiturages en 24h :</h4>
                </div>
                <div class="result">
                    <h4 class="nbr-carpool-moyen d-block text-end text-white text-uppercase fw-bold mt-1 mb-3 ml-2">... le : .. / .. / ..</h4>
                </div>
            </div>
            <div class="div-min-carpools-one-day d-flex justify-content-center">
                <div class="phrase">
                    <h4 class="nbr-carpool-moyen d-block text-start text-white text-uppercase fw-bold mt-1 mb-3 ml-2">record min de covoiturages en 24h :</h4>
                </div>
                <div class="result">
                    <h4 class="nbr-carpool-moyen d-block text-end text-white text-uppercase fw-bold mt-1 mb-3 ml-2">... le : .. / .. / ..</h4>
                </div>
            </div>         
        </div>
    </section>
{% endblock %} 
