{% extends 'layout/a_staff/admin/base_admin.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="text-center mt-6">Bienvenu sur votre compte ADMINISTRATEUR !! ✅</h1>
{% endblock %}
