version: '3.8'

services:

  database:
    container_name: database
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - db_data:/var/lib/mysql

  app:
    image: ghcr.io/bhhdev/ecoride-app:latest
    container_name: ecoride
    user: "${UID}:${GID}"
    ports:
      - "2001:80"
    environment:
      APP_ENV: prod
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - database
    restart: unless-stopped

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - "8899:8080"

volumes:
  db_data:
