{% extends 'layout/a_staff/admin/base_admin.html.twig' %}

{% block title %}Hello UserAccountManagementController!{% endblock %}

{% block body %}


<section>
    <h1 class="text-center text-white text-uppercase fw-bold">gestion des comptes utilisateurs</h1>
        <div class="div_suspend-user-account container">
            <h3 class="create-user-account d-block text-center text-white text-uppercase fw-bold mt-2">suspendre / supprimer <br/> un compte utilisateur</h3>
            <form action="POST">
                <div class="form-group mb-2 mt-2">
                    <label class="d-block text-center text-white text-uppercase" for="firstname">id</label>
                    <input type="int" class="input-id-register form-control border-input" id="id" name="id" aria-describedby="Entrez le id" placeholder="id">
                </div>
                <div class="form-group mb-4">
                    <label class="d-block text-center text-white text-uppercase" for="email">Email</label>
                    <input type="email" class="input-email-register form-control border-input" id="email" name="email" aria-describedby="Entrez votre email" placeholder="Email">
                </div>
                <div class="div-textarea mt-2 mb-2">
						<label class="d-block text-center text-white text-uppercase" for="textarea">données de l'utilisateur</label>
						<textarea class="fram-textarea m-auto form-control border-input" rows="3" maxlength="200"></textarea>
					</div>
                <div class="div-button d-flex">
                    <div class="div-suspend-button d-flex justify-content-center container">
                        <button class="suspend-button btn btn-lg mt-4 text-uppercase fw-bold" type="submit">suspendre
                        </button>
                    </div>
                    <div class="div-delete-button d-flex justify-content-center container">
                        <button class="delete-button btn btn-lg mt-4 text-uppercase fw-bold" type="submit">supprimer
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
