* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A4957C !important;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    min-height: 100vh;
    width: 100%;
    padding-top: 129px;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    flex: auto !important;
}