* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A4957C !important;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    padding-top: 129px;
    position: relative;
}