body {
    background-color: #A4957C;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    padding-top: 129px;
    position: relative;
}

nav {
    background: url("../images/buche-de-bois.png") 100% 100%;
}

nav::after {
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: rgba(0,0,0,0.6);

}

.navigation {
    width: 100%;
}

nav>*, .navbar-toggler {
    z-index: 20;
}

a.navbar-brand, .nav-item>a {
    color: #CBBBA0;
    text-decoration: none; !important
}
.li-item {
    width: 12.5%;

}

.navbar-nav .nav-links.active {
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #95C11F;
}


.nav-links:focus, .nav-links:hover {
    color: white;
}

.search-wrapper {
    position: fixed;
    top: 109px;
    left: calc(50% + 10px);
    transform: translateX(-50%);
    /* right: 0; */
    z-index: 100;
    height: fit-content;
    max-width: 100%;
    /* background: green; */
    /* overflow: hidden; */
}
.search-button-wrapper{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
    width: 128px;
    margin-inline: auto;
}

.search-icon-wrapper {
    position: absolute;
    top: 0.8rem;
    left: calc(50% - 5px);
    transform: translateX(-50%);
}

.search-bar-content{
    position: relative;
    width: calc(100% - 128px);
    max-width: 1200px;
    transform: translateX(-60px);
        /* object-fit: content; */
}

/* .search-button {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 75%;
    right: 83.5%;
    margin-right: 20px;
}

.search-bar-content {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 75%;
    right: 7.9%;
} */

h2, .les-depl, h1 /* h1 page historique */ {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2, h1 /* h1 page historique */ {
    margin-top: 8%;
}

.historic-driver-wrapper, .historic-passenger-wrapper /* page historique */ {
    background-color: #CBBBA0;
    width: 45vw;
    border: 2px solid black;
}

.title-driver, .title-passenger /* page historique */ {
    height: 5vh;
    width: 100vw;
}

.content_ticket-next-ride /* page historique */ {
    width: 100%;
}

.ticket-next-ride /* page historique */ {
    border: 2px solid black;
    height: 132px;
    width: 70%;
    margin-bottom: 0.5%;
}

.text-ticket /* page historique */ {
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #95C11F;
    color: #346928;
    margin: none;
}

.date_ticket-next-driver, .date_ticket-next-passenger /* page historique */ {
    width: 100%;
}

.infos-ticket /* page historique */ {
    font-family: Arial, Helvetica, sans-serif;
}

.infos-ticket2-3 /* page historique */ {
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
}

.infos-ticket2, .infos-ticket3 {
    width: 50%;
}

.infos-veh /* page historique */ {
    height: 50%;
}

.infos-price /* page historique */ {
    height: 50%;
}

.ticket /* page historique */ {
    background-color: #34280C;
    height: 100px;
    width: 98%;
    border: 2px solid white;

}

.historical-left /* page historique */ {
    width: 49%;
}
.last-ticket /* page historique */ {
    height: 100px;
    width: 98%;
    background-color: white;
    border: 1px solid black;
}

.separateur /* page historique */ {
    width: 1%;
    background-color: black;
    margin-top: 1.7%;
    margin-bottom: 1.3%;
}

.historical-right /* page historique */ {
    width: 49%;
}

.title-ecoride {
    height: 25vh;
    width: 75vw;
    display: flex;
}

.title-img {
    height: 15vh;
    width: 100%;
}

h1, .logiques-nomiques {
    margin-top: 1%;
}
.ecoride-title-img {
    height: 20vh;
    width: 100%;
}

.img-paysage {
    position: relative;
    height: 548px;
    width: 1181px;
    background: url("../images/decors-image-presentation.svg");
    background-size: cover;
    overflow: hidden;
}

/****  Car style ****/
.img-car-wrapper {
    position: absolute;
    z-index: 10;
    height: 132px;
    width: 688px;
    bottom: 140px;
    transform: translateX(980px);
}
.car {
    height: 132px;
    width: 688px;
}

/****  Wheels style ****/
.back-wheel,
.front-wheel{
    position: absolute;
    z-index: 15;
    height: 59px;
    width: 59px;
    bottom: 0rem;
    /* animation */
}
.back-wheel {
    left: 273px;
}
.front-wheel{
    left: 40px;
}

/**** Dashed lines ****/
.dashed-lines{
    position: absolute;
    z-index: 5;
    bottom: 124px;
    animation: dashedLinesAnim 3s linear forwards infinite;
    transform: translateX(-1150px);
    width: 200%;
    height: 10px;
}

/**** Car Animation ****/
.img-car-wrapper {
    animation: carAnim 5s linear forwards infinite;
}

@keyframes carAnim {
    to {
        transform: translateX(-980px);
    }
}
@keyframes dashedLinesAnim {
    to {
        transform: translateX(-4.5%);
    }
}

.front-wheel, .back-wheel {
    animation: rotate1 0.05s linear infinite;
}

@keyframes rotate1 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.credofferts-content {
    margin-top: 2%;
}

.credits-offerts {
    height: 156px;
    width: 650px;
    rotate: -7.5deg;
}

.text-pres {
    height: 700px;
    width: 1190px;
    border: 3px solid black;
    margin-top: 8%;
}

.first-text, .fiveth-text {
    height: 100px;
    width: 100%;
    margin-top: 1%;
}

.text-bienv {
    height: 100px;
    width: 100%;
}

.prem-parag {
    margin-top: 2%;
}

.second-text, .fourth-text {
    height: 100px;
    width: 80%;
}

.third-text {
    height: 100px;
    width: 65%;
}

.smiley-icon, .img-smiley-icon {
    height: 121px;
    width: 121px;
}

footer {
    position: relative;
    height: 106px;
    width: 100%;
    background: url("../images/buche-de-bois.png") 100% 100%;
    margin-top: 3%;
}

.filter-footer {
    height: 100%;
    width: 100%;
}

.filter-footer::after {
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
}

.footer-content {
    height: 100%;
    width: 100%;
}

.sep {
    height: 86%;
    width: 0.1%;
    background-color: white;
    z-index: 15;
}

.mentions-legales, .email-contact {
    height: 100%;
    width: 50%;
    z-index: 15;
    color: #CBBBA0;
}

.text-content {
    width: 100%;
}

.text-mentions-legales:hover, .text-email-contact:hover {
    color: white;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #95C11F;
}
