.total-carpools /* page carpools */ {
    /* min-height: 46vh; */
}

.frame-filters-side /* page carpools */ {
    /* height: 5vh; */
    width: 90%;
}

.container-filters-icon /* page carpools */ {
    width: 6%;
    height: 98%;
    background-color: #CBBBA0;
    margin-bottom: 0.5%;
    padding: 0.2%;
    border: 2px solid #95C11F;
}
.fliters-arrow-container /* page carpools */ {
    margin: 8% 0 0 15%;
}

.general-carpool-wrapper /* page carpools */ {
    width: 90vw;
    /* min-height: 42vh; */
}

.frame-carrpool /* page carpools */ {
    width: 66.5%;
    /* min-height: 43vh; */
    background-color: #936037;
    border: 3px solid white;
    margin-right: 0.5%;
}

.carpool-list /* page carpools */ {
    width: 51%;
    /* height: 98%; */
    margin-top: 0.4%;
    margin-right: 1%;
    margin-left: 0.5%;
}

.ticket-carpool /* page carpools */ {
    width: 100%;
    height: 150px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #CBBBA0;
    margin-bottom: 2%;
}

.carpool-ticket-content /* page carpools */ {
    height: 96%;
    width: 98%;
    /* background-color: #34280C;
     */
    margin-top: 0.7%;
    margin-left: 1%;
}

.photo-content /* page carpools */ {
    height: 100%;
    width: 22%;
    background-color: #34280C;
    border: 1px solid white;
}

.photo-ticket-carpool /* page carpools */ {
    height: 70%;
    width: 92%;
    background-color: white;
    border: 2px solid #95C11F;
    margin-top: 3.5%;
    margin-left: 4%;
}

.pseudo-note-driver /* page carpools */ {
    font-size: 12px;
}

.p-pseudo, .p-note /* page carpools */ {
    margin: 1% 0 0 0;
}

.infos-ticket-carpool /* page carpools */ {
    width: 63%;
    height: 100%;
}
.line-1 /* page carpools */ {
    margin: 0 0 0 0;
}
.line-2, .line-3 /* page carpools */ {
    margin: 0 0 2% 0;
}
.line-4 /* page carpools */ {
    margin-bottom: 3%;
}
.p-trajet /* page carpools */ {
    font-size: 14px;
}
.p-date, .p-h-start, .p-h-end, .p-seat-dispo, .p-ride-eco /* page carpools */ {
    font-size: 12px;
    margin: 0;
}
.p-date /* page carpools */ {
    width: 30%;
}
.p-h-start, .p-h-end /* page carpools */ {
    width: 40%;
}
.button-details /* page carpools */ {
    height: 30px;
    width: 40%;
    background-color: #346928;
    border-radius: 5px;
    margin-bottom: 1%;
}

.separateur-carpool-ticket /* page carpools */ {
    width: 0.5%;
    height: 80%;
    background-color: #34280C;
    border-radius: 5px;
    margin-top: 3%;
}

.price-carpool /* page carpools */ {
    width: 14%;
    height: 100%;
}
.price /* page carpools */ {
    height: 40%;
    width: 100%;
}
.text-price /* page carpools */ {
    margin-top: 50%;
    font-size: 12px;
}
.price-number /* page carpools */ {
    height: 50%;
    width: 100%;
    color: #34280C;
    margin-bottom: none !important;
}
.number  /* page carpools */ {
    font-size: 20px;
    margin-bottom: 0;
}
.text-credits /* page carpools */ {
    font-size: 12px;
    color: #34280C;
}

.arrow-details /* page carpools */ {
    width: 4%;
    /* height: 98%; */
    /* background-color: yellow; */
    margin-top: 7.6%;
    margin-right: 1%;
}
.arrow /* page carpools */ {
    height: 143px;
}

.details /* page carpools */ {
    width: 42%;
    /* height: 98%; */
    margin-top: 0.4%;
    background-color: #936037;
}
.details-container /* page carpools */ {
    height: 788px;
    width: 385px;
    background-color: #34280C;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 1%;
}
.section-details-1 /* page carpools */ {
    width: 98%;
    margin-top: 1%;
}
.details-photo-container /* page carpools */ {
    height: 165px;
    width: 30%;
    background-color: #CBBBA0;
    padding-top: 1%;
}
.frame-photo-details /* page carpools */ {
    height: 70%;
    width: 90%;
    background-color: white;
    border: 2px solid black;
}
.p-pseudo-details /* page carpools */ {
    margin: 0;
}
.infos-details_section-1 /* page carpools */ {
    width: 70%;
}
.p-next-trajet, .p-trajet_details, .p-date_h-start_h-end, .p-seat-dispo_details, .p-vehicul /* page carpools */ {
    width: 100%;
}
.p-next-trajet /* page carpools */ {
    margin-bottom: 0;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #95C11F;
}
.p-trajet_details /* page carpools */ {
    padding-top: 3%;
}
.p-trajet_details, .p-date_h-start_h-end, .p-seat-dispo_details, .p-vehicul /* page carpools */ {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
}
.separateur_details /* page carpools */ {
    height: 0.3%;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin-top: 3%;
}
.prefer_1-2, .prefer_3-4 /* page carpools */ {
    width: 50%;
    font-weight: 500;
    font-size: 12px;
}
.frame-message-driver /* page carpools */ {
    width: 85%;
    height: 62px;
    background-color: white;
    border: 2px solid #95C11F;
}
.frame-message-driver /* page carpools */ {
    overflow: scroll;
}
.p-message-driver /* page carpools */ {
    font-size: 12px;
    font-weight: 500;
}
.avis-content /* page carpools */ {
    width: 96%;
    height: 260px;
    background-color: #936037;
    border: 2px solid white;
    overflow: scroll;
}
.last-avis, .fivth-avis, .fourth-avis, .third-avis, .second-avis, .first-avis /* page carpools */ {
    height: 60px;
    width: 98%;
    background-color: #CBBBA0;
    border: 2px solid #95C11F;
}
.photo-avis /* page carpools */ {
    height: 94%;
    width: 13%;
    background-color: white;
    border: 1px solid black;
    margin: 0.3% 0 0 0.3%;
}
.infos-avis /* page carpools */ {
    height: 94%;
    margin: 0.3% 0 0 0.3%;
    width: 20%;
}
.pseudo-avis, .note-avis, .nbr-trajet-avis /* page carpools */ {
    font-size: 12px;

}
.avis  /* page carpools */ {
    height: 94%;
    width: 65.5%;
    background-color: black;
    border: 1px solid white;
    margin: 0.3% 0 0 0.3%;
    overflow: scroll;
}
.p-message-passenger /* page carpools */ {
    font-size: 10px;
    font-weight: 500;
}
.button-participer /* page carpools */ {
    height: 30px;
    width: 40%;
    background-color: #CBBBA0;
    border-radius: 5px;
    margin-bottom: 1%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #95C11F;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
}


.frame-new-date /* page carpools */ {
    width: 33%;
    /* height: 43vh; */
    background-color: #34280C;
    border: 3px solid white;
}