.contact-content /* page login */ {
    width: 60%;
    min-width: 340px;
    background-color: #34280C;
    border: 3px solid white;
    padding: 1rem;
}

.button-connect {
    background-color: #CBBBA0;
    border: 2px solid #95C11F;
    color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
}