// -------------------------------------------------------------------START NEXT TICKETS

// -------------------START GENERAL TICKETS
.next-tickets {
    width: 22rem;
    height: 80vh;
}
@media (min-width: 800px) {
    .next-tickets {
        width: 50%;
        height: 50vh;
    }
}
@media (min-width: 1200px) {
    .next-tickets {
        width: 40%;
        height: 80vh;
    }
}

.next-ticket-driver_ps, .next-ticket-passenger_ps {
    width: 100%;
    height: 48%;
    border: 3px solid white;
    background-color: #936037;
}
.next-ticket-passenger_ps {
    background-color: #34280C;
}
.h3_ps {
    font-weight: 700;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #95C11F;
}
// -------------------END GENERAL TICKETS

// --------START DETAILS TICKET NEXT RIDE DRIVER
.div-infos {
    height: 70%;
    width: 100%;
}
.info-next-carpool-driver {
    height: 39%;
    width: 100%;
}
.infos_date-hour {
    width: 60%;
    height: 100%;
}
.infos_date-hour,
.infos_vehicul-price-eco {
    font-size: 12px !important;
}
@media (min-width: 1200px) {
    .infos_date-hour,
    .infos_vehicul-price-eco {
        font-size: 14px !important;
    }
}
.infos_vehicul-price-eco {
    width: 40%;
    height: 100%;
}

.sep-hori {
    height: 1%;
    width: 98%;
    border-radius: 10px;
}

 .passenger-list {
    height: 60%;
    width: 100%;
    background-color: #34280C;
    border: 5px solid #936037;
    overflow: auto;
}
.first-passenger, .second-passenger, .third-passenger, .fourth-passenger {
    width: 96%;
    height: 70%;
    background-color: #CBBBA0;
    border: 2px solid #95C11F;
}
.photo-passenger-inscrit {
    width: 15%;
    height: 96%;
    background-color: white;
    border: 1px solid #34280C;
    margin: 0.45% 0.3% 0 0.3%;
}
@media (min-width: 800px) {
    .photo-passenger-inscrit {
        width: 14%;
        margin: 0.42% 0.4% 0 0.4%;
    }
}
@media (min-width: 1200px) {
    .photo-passenger-inscrit {
        width: 11%;
        margin: 0.3% 0.4% 0 0.4%;
    }
}

.pseudo-note-passenger_ps {
    font-size: 12px;
    margin: 2.5% 0.5%;
}
@media (min-width: 800px) {
    .pseudo-note-passenger_ps {
        margin: 3% 0.5%;
    }
}
@media (min-width: 1200px) {
    .pseudo-note-passenger_ps {
        font-size: 14px;
        margin: 2.5% 0.5%;
    }
}

.frame-adress_ps {
    height: 98%;
    width: 55%;
    background-color: black;
    border: 1px solid white;
    overflow: auto;
    margin: 0.1% 0 0 0;
}
@media (min-width: 800px) {
    .frame-adress_ps {
        width: 60%;
    }
}
@media (min-width: 1200px) {
    .frame-adress_ps {
        width: 68%;
    }
}
.text-adress_ps {
    font-size: 10px;
}
@media (min-width: 1200px) {
    .text-adress_ps {
        font-size: 12px;
    }
}
.p-adress_ps {
    font-size: 12px;
}
@media (min-width: 1200px) {
    .p-adress_ps {
        font-size: 16px;
    }
}

.passenger-present {
    height: 98%;
    width: 10%;
}
.checkbox-passenger-present {
    height: 60%;
    width: 60%;
    margin: 40% 30% ;
}
@media (min-width: 800px) {
    .checkbox-passenger-present {
        margin: 35% 20%;
    }
}
@media (min-width: 1200px) {
    .checkbox-passenger-present {
        margin: 30% 20%;
    }
}

.frame-buttons_ps {
    height: 21%;
    width: 100%;
}
.frame-button-annul_ps {
    height: 100%;
    width: 34%;
}
.button-annul-ride {
    height: 100%;
    width: 80%;
    background-color: #34280C;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #95C11F;
    margin-top: 7.5%;
    margin-right: 10%;
}
@media (min-width: 1200px) {
    .button-annul-ride {
        width: 60%;
        font-size: 16px;
    }
}

.frame-button-start-stop_ps {
    height: 100%;
    width: 66%;
}
.button-start-ride, .button-stop-ride {
    height: 60%;
    width: 50%;
    background-color: #CBBBA0;
    border-radius: 5px;
    margin-top: 4%;
    margin-right: 2%;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #95C11F;
}
@media (min-width: 1200px) {
    .button-start-ride, .button-stop-ride {
        width: 40%;
        font-size: 16px;
    }
    .button-stop-ride {
        margin-right: 10%;
    }
}

.button-stop-ride {
    background-color: #A4957C;
    margin-right: 1%;
}
@media (min-width: 1200px) {
    .button-stop-ride {
        margin-right: 5%;
    }
}
// --------END DETAILS TICKET NEXT RIDE DRIVER


// --------START DETAILS TICKET NEXT RIDE PASSENGER
.infos-next-ride {
    height: 80%;
    width: 100%;
}
.sep-vert {
    height: 98%;
    width: 0.5%;
    border-radius: 10px;
}
.infos {
    height: 42.5%;
    width: 100%;
}
.title {
    font-size: 8px;
}
@media (min-width: 1200px) {
    .title {
        font-size: 10px;
    }
}

.photo-driver{
    height: 50%;
    width: 50%;
}
@media (min-width: 1200px) {
    .photo-driver {
        width: 30%;
    }
}
.title-pseudo,
.title-note,
.title-credits,
.title-date, 
.title-h {
    font-size: 10px;
}
@media (min-width: 1200px) {
    .title-pseudo,
    .title-note,
    .title-credits,
    .title-date, 
    .title-h {
        font-size: 12px;
    }
}

.infos-ride-passenger {
    height: 100%;
    width: 100%;
}
.infos-driver {
    height: 100%;
    width: 19.5%;
}
.infos-ride {
    height: 85%;
    width: 60%;
}

.date-h, .next-ride-passenger, .infos-price {
    height: 27.5%;
}
.date-h, .brand-model-vehicle, .next-ride-passenger {
    width: 100%;
}
.title-date, 
.title-h {
    width: 50%;
}

.number-price {
    font-size: 24px;
}
@media (min-width: 1200px) {
    .number-price {
        font-size: 32px;
    }
}
.infos-price {
    height: 100%;
    width: 19.5%;
}

.others-passengers {
    height: 42.5%;
    width: 100%;
    background-color: #346928;
    border: 5px solid #34280C;
    overflow: auto;
}
.first-line, .second-line {
    height: 98%;
    width: 98%;
    margin: 1% 0 0 0;
}
.first-other-passenger, .second-other-passenger {
    height: 94%;
    width: 48%;
    margin: 0.5% 0 0 0;
    background-color: #CBBBA0;
    border: 2px solid black;
}
.infos-other-passenger {
    height: 96%;
    width: 98%;
}
.photo-other-passenger {
    height: 90%;
    width: 30%;
    margin: 3% 3%;
    border: 2px solid black;
}
@media (min-width: 1200px) {
    .photo-other-passenger {
        width: 21%;
        margin: 1.8% 1.8%;
    }
}

.details-other-passenger {
    height: 90%;
    width: 64%;
    margin-top: 3%;
}

.options-ride {
    height: 100%;
    width: 100%;
}
.see-details,
.div-button-annul {
    height: 100%;
    width: 50%;
}
.see-details {
    margin: 5% 0 0 0;
}
.button-annul-ride-other-passenger {
    height: 12%;
    width: 70%;
    background-color: #CBBBA0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #95C11F;
    margin-top: 7.5%;
    margin-right: 10%;
}
@media (min-width: 800px) {
    .button-annul-ride-other-passenger {
        width: 50%;
        margin-top: 6%;
    }
    .see-details {
        margin: 4% 0 0 0;
    }
}
@media (min-width: 1200px) {
    .button-annul-ride-other-passenger {
    margin-top: 5%;
    }
    .see-details {
        margin: 4% 0 0 0;
    }
}
// --------END DETAILS TICKET NEXT RIDE PASSENGER

// -------------------------------------------------------------------END NEXT TICKETS



// ---------------------------------------------------------START PERSONAL DETAILS USER

// -------------------START GENERAL PERSONAL SPACE USER
.details-perso-space {
    width: 22rem;
    height: 97rem;
    background-color: #346928;
    border: 3px solid black;
}
@media (min-width: 800px) {
    .details-perso-space {
        height: 98rem;
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .details-perso-space {
        height: 103rem;
        width: 40%;
    }
}
// -------------------END GENERAL PERSONAL SPACE USER

// -------------------START CREDITS USER
.title-infos-personal-space {
    width: 100%;
}
.personal-credits-1_ps,
.personal-credits-2_ps {
    width: 50%;
}
.text-personal-credits-1_ps, .text-personal-credits-2_ps {
    font-weight: bold;
}
.text-personal-credits-1_ps {
    font-size: 14px;
    margin: 12% 2.5% 0 0;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: black;
}
.text-personal-credits-2_ps {
    font-size: 22px;
    margin: 7.9% 0 0 2%;
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: black;
}
@media (min-width: 800px) {
    .text-personal-credits-1_ps {
        font-size: 16px;
        margin: 10% 2.5% 0 0;
    }
    .text-personal-credits-2_ps {
        font-size: 26px;
        margin: 6% 0 0 2%;
    }
}
@media (min-width: 1200px) {
    .text-personal-credits-1_ps {
        font-size: 26px;
    }
    .text-personal-credits-2_ps {
        font-size: 36px;
        margin: 7% 0 0 2.5%;
    }
}
// -------------------END CREDITS USER

// -------------------START PERSONAL INFOS USER
.infos-perso {
    width: 98%;
    height: 8rem;    
}
@media (min-width: 800px) {
    .infos-perso {
        height: 8rem;
    }
}
@media (min-width: 1200px) {
    .infos-perso {
        height: 10.5rem;
    }
}

.your-photo {
    height: 100%;
    width: 28%;
    margin: 0 2% 0 0;
    display: flex;
    justify-content: end;

}
@media (min-width: 1200px) {
    .your-photo {
        width: 23%;
        margin: 0 4% 0 0;
    }
}
.photo-first-frame-infos-pers_ps {
    height: 100%;
    width: 25%;
    background-color: white;
    border: 2px solid white;
    margin-left: 5%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.div-note, .div-infos-perso {
    height: 8rem;
    width: 34.5%;
}
@media (min-width: 1200px) {
    .div-note, .div-infos-perso {
        height: 100%;
        width: 37.5%;
    }
}

.sep-hori_ps1, .sep-hori_ps2 {
    width: 100%;
}
.sep-hori_ps1 {
    height: 1.5%;
}
.sep-hori_ps2 {
    height: 1%;
}
.sep-hori_ps3 {
    width: 90%;
    height: 1.5%;
}

.note_ps {
    height: 100%;
    width: 100%;
}
.notes-moyennes, .div-infos-perso {
    height: 98.5%; 
}
.note-moyenne-driver,
.note-moyenne-passenger {
    height: 49%;
    width: 100%;
    font-size: 10px;
}
@media (min-width: 1200px) {
    .note-moyenne-driver,
    .note-moyenne-passenger {
        font-size: 12px;
    }
}
.sep-inter-hori {
    height: 1%;
    width: 80%;
}
.sep-vert_ps1 {
    width: 0.5%;
}
.sep-vert_ps1 {
    height: 100%;
}
.sep-vert_ps2 {
    height: 88%;
    margin-top: 4.5%;
    width: 0.3%;
}
@media (min-width: 800px) {
    .sep-vert_ps2 {
        height: 87.5%;
    }
}
@media (min-width: 1200px) {
    .sep-vert_ps2 {
        height: 85.5%;
        margin-top: 4%;
    }
}

.infos-perso-infos_ps{
    height: 79%;
    width: 100%;
    padding-top: 8%;
}
.img-modified-infos {
    height: 20%;
    width: 100%;
}
@media (min-width: 800px) {
    .infos-perso-infos_ps {
        height: 79%;
    }
}

.text1_ps,
.text2_ps,
.text3_ps {
    font-size: 12px;
}
// -------------------END PERSONAL INFOS USER

// -------------------START LAST NOTICES
.last-notice {
    height: 13rem;
    width: 98%;
    background-color: #936037;
    border: 2px solid white;
}
@media (min-width: 800px) {
    .last-notice {
        height: 14rem;
    }
}
@media (min-width: 1200px) {
    .last-notice {
        height: 15rem;
    }
}

.h3_ps {
    font-size: 14px;
}
.last-notice-passenger,
.last-notice-driver {
    height: 49%;
    width: 100%;
}
.general-frame {
    height: 70%;
    width: 98%;
    background-color: #CBBBA0;
    border: 1px solid #95C11F;
}
.frame-notice_ps {
    height: 95%;
    width: 66.5%;
    background-color: black;
    border: 1px solid white;
    overflow: auto;
    margin: 0.45% 0 0 0;
}
@media (min-width: 800px) {
    .frame-notice_ps {
        width: 69%;
    }
}
@media (min-width: 1200px) {
    .frame-notice_ps {
        width: 76%;
    }
}
// -------------------END LAST NOTICES

// -------------------START USER STATUT
.user-statut {
    height: 10rem;
    width: 98%;
    background-color: #936037;
    border: 2px solid white;
}
.statut_ps {
    font-size: 12px;
}
.div-button-valid {
    height: 20%;
    width: 100%;
}
.button-valid-statut {
    height: 100%;
    width: 25%;
    background-color: #CBBBA0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #95C11F;
}
// -------------------END USER STATUT

// -------------------START VEHICLE STATUT
.vehicl-satut_and_organise-ride {
    height: 60rem;
    width: 98%;
    background-color: #34280C;
    border: 2px solid white;
}
.list-vehicul-text {
    font-size: 12px;
}
.vehicul-list {
    height: 8%;
    width: 94%;
    font-size: 14px;
}
.list {
    height: 80%;
    width: 98%;
    border: 2px solid #95C11F;
    background-color: #936037;
    overflow: auto;
}
.list-content {
    width: 100%;
}
.buttons-statut-vehicl {
    width: 100%;
    height: 5%;
}
@media (min-width: 1200px) {
    .buttons-statut-vehicl {
    height: 5%;
    }
}

.div-button-recorded-vehicl,
.div-button-select-vehicl {
    width: 50%;
    height: 100%;
}
.button-recorded-vehicl,
.button-select-vehicl {
    width: 92%;
    height: 100%;
    background-color: #CBBBA0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #95C11F;
}
@media (min-width: 1200px) {
    .button-recorded-vehicl,
.button-select-vehicl {
    width: 60%;
    }
}

.button-select-vehicl {
    background-color: white;
}
.sep-hori_vehicl-satut_and_organise-ride {
    width: 90%;
    height: 0.125rem;
}
// -------------------END VEHICLE STATUT

// -------------------START ORGANISE RIDE
.organise-ride {
    height: 41%;
    width: 100%;
}
.date-hour-adress_departure-arrival {
    height: 50%;
    width: 100%;

}
.date-hour-adress_departure,
.date-hour-adress_arrival {
    height: 100%;
    width: 50%;
}
.departure {
    width: 96%;
}
.dispo-seats {
    height: 22%;
    width: 100%;
}
.dipo-seats-text {
    width: 80%;
}
.dispo-seats-input {
    width: 40%;
    height: 100%;
}
.seat-price-ride-organised {
    width: 70%;
}
.div-switch-button {
    width: 98%;
}
@media (min-width: 800px) {
    .div-switch-button {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .div-switch-button {
        width: 60%;
    }
}

.label-switch-button {
    width: 80%;
    font-size: 12px;
}
.switch-button {
    width: 20%;  
}
.fram-textarea {
    width: 90%;
}
.div-max-length {
    font-size: 10px;
}
.div-button-recorded {
    height: 15%;
    width: 100%;
}
.button-recorded {
    height: 100%;
    width: 40%;
    background-color: #CBBBA0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #95C11F;
}
@media (min-width: 800px) {
    .button-recorded {
        width: 35%;
    }
}
@media (min-width: 1200px) {
    .button-recorded {
        width: 25%;
    }
}
// -------------------END ORGANISE RIDE