.div_create-employee-account,
.div_suspend-employee-account {
    height: 450px;
    width: 700px;
    background-color: #936037;
    border: 3px solid white;
}
.div_suspend-employee-account {
    background-color: #34280C;
}

.create-employee-account {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #95C11F;
}



.div-button {
    width: 100%;
}
.div-suspend-button,
.div-delete-button {
    width: 100%;
}

.suspend-button,
.delete-button {
    width: 75%;
}