.input-email, .input-password {
    width: 80%;
    border: 3px solid #95C11F;
}

.connection-content {
    width: 40%;
    min-width: 340px;
    background-color: #936037;
    border: 3px solid white;
    padding: 1rem;
}
.button-connect {
    background-color: #CBBBA0;
    border: 2px solid #95C11F;
    color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
}
.frame-filters-side {
    width: 90%;
}
.container-filters-icon {
    width: 6%;
    height: 98%;
    background-color: #CBBBA0;
    margin-bottom: 0.5%;
    padding: 0.2%;
    border: 2px solid #95C11F;
}
.fliters-arrow-container {
    margin: 8% 0 0 15%;
}
.general-carpool-wrapper {
    width: 90vw;
}
.frame-carrpool {
    width: 66.5%;
    background-color: #936037;
    border: 3px solid white;
    margin-right: 0.5%;
}

.carpool-list {
    width: 51%;
    margin-top: 0.4%;
    margin-right: 1%;
    margin-left: 0.5%;
}

.ticket-carpool {
    width: 100%;
    height: 150px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #CBBBA0;
    margin-bottom: 2%;
}

.carpool-ticket-content {
    height: 96%;
    width: 98%;
    margin-top: 0.7%;
    margin-left: 1%;
}

.photo-content {
    height: 100%;
    width: 22%;
    background-color: #34280C;
    border: 1px solid white;
}

.photo-ticket-carpool {
    height: 70%;
    width: 92%;
    background-color: white;
    border: 2px solid #95C11F;
    margin-top: 3.5%;
    margin-left: 4%;
}

.pseudo-note-driver {
    font-size: 12px;
}

.p-pseudo, .p-note {
    margin: 1% 0 0 0;
}

.infos-ticket-carpool {
    width: 63%;
    height: 100%;
}
.line-1 {
    margin: 0 0 0 0;
}
.line-2, .line-3 {
    margin: 0 0 2% 0;
}
.line-4 {
    margin-bottom: 3%;
}
.p-trajet {
    font-size: 14px;
}
.p-date, .p-h-start, .p-h-end, .p-seat-dispo, .p-ride-eco {
    font-size: 12px;
    margin: 0;
}
.p-date {
    width: 30%;
}
.p-h-start, .p-h-end {
    width: 40%;
}
.button-details {
    height: 30px;
    width: 40%;
    background-color: #346928;
    border-radius: 5px;
    margin-bottom: 1%;
}

.separateur-carpool-ticket {
    width: 0.5%;
    height: 80%;
    background-color: #34280C;
    border-radius: 5px;
    margin-top: 3%;
}

.price-carpool {
    width: 14%;
    height: 100%;
}
.price {
    height: 40%;
    width: 100%;
}
.text-price {
    margin-top: 50%;
    font-size: 12px;
}
.price-number {
    height: 50%;
    width: 100%;
    color: #34280C;
    margin-bottom: none !important;
}
.number  {
    font-size: 20px;
    margin-bottom: 0;
}
.text-credits {
    font-size: 12px;
    color: #34280C;
}

.arrow-details {
    width: 4%;
    margin-top: 7.6%;
    margin-right: 1%;
}
.arrow {
    height: 143px;
}

.details {
    width: 42%;
    margin-top: 0.4%;
    background-color: #936037;
}
.details-container {
    height: 788px;
    width: 385px;
    background-color: #34280C;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 1%;
}
.section-details-1 {
    width: 98%;
    margin-top: 1%;
}
.details-photo-container {
    height: 165px;
    width: 30%;
    background-color: #CBBBA0;
    padding-top: 1%;
}
.frame-photo-details {
    height: 70%;
    width: 90%;
    background-color: white;
    border: 2px solid black;
}
.p-pseudo-details {
    margin: 0;
}
.infos-details_section-1 {
    width: 70%;
}
.p-next-trajet, .p-trajet_details, .p-date_h-start_h-end, .p-seat-dispo_details, .p-vehicul {
    width: 100%;
}
.p-next-trajet {
    margin-bottom: 0;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #95C11F;
}
.p-trajet_details {
    padding-top: 3%;
}
.p-trajet_details, .p-date_h-start_h-end, .p-seat-dispo_details, .p-vehicul {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
}
.separateur_details {
    height: 0.3%;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin-top: 3%;
}
.prefer_1-2, .prefer_3-4 {
    width: 50%;
    font-weight: 500;
    font-size: 12px;
}
.frame-message-driver {
    width: 85%;
    height: 62px;
    background-color: white;
    border: 2px solid #95C11F;
}
.frame-message-driver {
    overflow: scroll;
}
.p-message-driver {
    font-size: 12px;
    font-weight: 500;
}
.avis-content {
    width: 96%;
    height: 260px;
    background-color: #936037;
    border: 2px solid white;
    overflow: scroll;
}
.last-avis, .fivth-avis, .fourth-avis, .third-avis, .second-avis, .first-avis {
    height: 60px;
    width: 98%;
    background-color: #CBBBA0;
    border: 2px solid #95C11F;
}
.photo-avis {
    height: 94%;
    width: 13%;
    background-color: white;
    border: 1px solid black;
    margin: 0.3% 0 0 0.3%;
}
.infos-avis {
    height: 94%;
    margin: 0.3% 0 0 0.3%;
    width: 20%;
}
.pseudo-avis, .note-avis, .nbr-trajet-avis {
    font-size: 12px;

}
.avis  {
    height: 94%;
    width: 65.5%;
    background-color: black;
    border: 1px solid white;
    margin: 0.3% 0 0 0.3%;
    overflow: scroll;
}
.p-message-passenger {
    font-size: 10px;
    font-weight: 500;
}
.button-participer {
    height: 30px;
    width: 40%;
    background-color: #CBBBA0;
    border-radius: 5px;
    margin-bottom: 1%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #95C11F;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
}


.frame-new-date {
    width: 33%;
    /* height: 43vh; */
    background-color: #34280C;
    border: 3px solid white;
}