.frame-about {
    // height: 46vh;
    background-color: #A4957C;
    background-color: yellowgreen!important;
}


.frame-about-content {
    height: 46vh;
    width: 80%;
    background-color: #936037;
    border: 3px solid white;
}