

.frame-filters-side {
    width: 22rem;
}
@media (min-width: 800px) {
    .frame-filters-side {
        width: 35rem;
    }
}
.container-filters-icon {
    width: 5rem;
    height: 98%;
    background-color: #CBBBA0;
    margin-bottom: 0.5%;
    padding: 0.2%;
    border: 2px solid #95C11F;
}
.fliters-arrow-container {
    margin: 8% 0 0 15%;
}





.general-carpool-wrapper {
    width: 22rem;
}
@media (min-width: 800px) {
    .general-carpool-wrapper {
        width: 35rem;
    }
}

.h3_ps {
    font-size: 16px;
    font-weight: 700;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #95C11F;
}
@media (min-width: 800px) {
    .h3_ps {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .h3_ps {
        font-size: 20px;
    }
}
.frame-carrpool {
    width: 100%;
    background-color: #936037;
    border: 3px solid white;

}

.carpool-list {
    width: 99%;
    margin-top: 0.4%;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
@media (min-width: 800px) {
    .carpool-list {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    }
}

#tickets-container{
    width: 100%;
    margin: auto;
}
.ticket-carpool {
    width: 98%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #CBBBA0;
    margin-bottom: 2%;
    margin-inline: auto;
    height: 8rem;
}


@media (min-width: 800px) {
    .ticket-carpool {
        height: 10rem;
    }
}
.carpool-ticket-content {
    display: flex;
    align-items: stretch !important;
}


@media (min-width: 800px) {
    .ticket-carpool-content {
        margin-top: 0.5%;
    }
}
@media (min-width: 1200px) {
    .carpool-ticket-content {
        margin-top: 0.58%;
    }
}
.photo-content {
    height: 120px;
    width: 20%;
    background-color: #34280C;
    border: 1px solid white;
    padding-top: 0.7%;
    margin-left: 0.5%;
    margin-top: 0.55%;
}
@media (min-width: 800px) {
    .photo-content {
        height: 150px;
        width: 17%;
    }
}

.photo-ticket-carpool {
    // height: 60%;
    // width: 94%;
    height: 4.5rem;
    width: 4.8rem;
    
    // background-color: white;
    margin-top: 3.5%;
    margin-left: 3.25%;
    margin-inline: auto;
    
    img{
        height: 4rem;
        width: 4rem;
        object-fit: cover;        
    }
}
@media (min-width: 800px) {
    .bob-photo {
        height: 8rem;
        width: 6.2rem;
    }
}

.pseudo-note-driver {
    font-size: 12px;
}

.p-pseudo, .p-note {
    margin: 1% 0 0 0;
}
@media (min-width: 800px) {
    .p-pseudo, .p-note {
        margin: 10% 0 0 0;
    }
}

.infos-ticket-carpool {
    width: 55%;
    // height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto !important;
}


@media (min-width: 800px) {
    .infos-ticket-carpool {
        // height: 150px;
        width: 63%;
    }
}
.line-1 {
    margin: 0 0 2% 0;
}
.line-2  {
    margin: 0 0 1.5% 0;
}
.line-3 {
    margin-bottom: 1%;
}
.line-4  {
    margin-bottom: 2%;
}
.p-trajet {
    font-size: 12px;
}
@media (min-width: 800px) {
    .p-trajet {
        font-size: 16px;
    }
}
.p-ride-eco.eco, .p-ride-eco.standard {
    color: black;
}

.p-date, .p-h-start, .p-h-end, .p-seat-dispo, .p-ride-eco {
    font-size: 10px;
    margin: 0;
}
@media (min-width: 800px) {
    .p-date, .p-h-start, .p-h-end, .p-seat-dispo, .p-ride-eco {
    font-size: 14px;
}
}
.p-date {
    width: 50%;
}
.p-h-start, .p-h-end {
    width: 30%;
}
.button-details {
    width: 100px;
    background-color: #346928;
    margin-top: 6px;
    margin-bottom: 4px !important;
}
@media (min-width: 800px) {
    .button-details {
        width: 120px;
    }
}

.separateur-carpool-ticket {
    width: 0.5%;
    height: 105px;
    background-color: #34280C;
    border-radius: 5px;
    margin-top: 3%;
    margin-right: 3%;
}
@media (min-width: 800px) {
    .separateur-carpool-ticket {
        height: 125px;
        margin-right: 1%;
    }
}
.price-carpool {
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.price-number {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    height: auto; 
}
@media (min-width: 800px) {
    .price-number {
        margin-top: 8%;
    }
    
}

// .arrow-details {
//     width: 4%;
//     margin-top: 7.6%;
//     margin-right: 1%;
// }
// .arrow {
//     height: 143px;
// }


.sep-hori {
    background-color: white;
    height: 0.125rem;
    width: 92%;
    border-radius: 10px;
}

.details {
    width: 98%;
    margin-top: 0.4%;
    background-color: #936037;
}
.details-container {
    height: 49.25rem;
    width: 100%;
    background-color: #34280C;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 1%;
    padding-left: 2.5%;
}
@media (min-width: 800px) {
    .details-container {
        height: 62.5rem;
    }
}
.section-details-1 {
    height: 11rem;
    width: 98%;
    margin-top: 1%;
}
@media (min-width: 800px) {
    .section-details-1r {
        height: 25rem;
    }
}
.details-photo-container {
    height: 98%;
    width: 40%;
    background-color: #CBBBA0;
    padding-top: 1%;
}
@media (min-width: 800px) {
    .details-photo-container {
        width: 25%;
    }
}

.details-photo-content {
    height: 100%;
    width: 90%;
}
.frame-photo-details {
    height: 70%;
    width: 100%;
    background-color: white;
    border: 2px solid black;
}
.p-pseudo-details {
    margin: 0;
}
.p-note-details {
    margin: 1% 0 0 0;
}
.infos-details_section-1 {
    height: 98%;
    width: 70%;
}

.p-next-trajet, .p-trajet_details, .p-date_h-start_h-end, .p-seat-dispo_details, .p-vehicul {
    width: 100%;
}
.p-next-trajet, .p-prefer-trajet, .p-driver-message, .p-avis-passenger {
    margin-bottom: 8%;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #95C11F;
}
@media (min-width: 800px) {
    .p-next-trajet {
        margin-bottom: 2%;
    }
}
.p-trajet_details {
    padding-top: 3%;
}
.p-trajet_details, .p-date_h-start_h-end, .p-seat-dispo_details, .p-vehicul {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
}
@media (min-width: 800px) {
    .p-trajet_details, .p-date_h-start_h-end, .p-seat-dispo_details, .p-vehicul {
        font-size: 14px;
    }
}
.separateur_details {
    height: 0.3%;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin: 3% 4%;
}
.infos-details_section-2 {
    height: 8rem;
}

.prefer_1-2, .prefer_3-4 {
    width: 50%;
    font-weight: 500;
    font-size: 12px;
}
@media (min-width: 800px) {
    .prefer_1-2, .prefer_3-4 {
        font-size: 14px;
    }
}

.infos-details_section-3 {
    width: 98%;
    height: 10rem;
}
.frame-message-driver {
    width: 85%;
    height: 6rem;
    background-color: white;
    border: 2px solid #95C11F;
    overflow: auto;
}
.p-message-driver {
    font-size: 12px;
    font-weight: 500;
}


.infos-details_section-4 {
    width: 96%;
    height: 10rem;
}
@media (min-width: 800px) {
    .infos-details_section-4 {
        height: 19rem;
    }
}
.p-avis-passengers {
    margin-bottom: 2%;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #95C11F;
}
@media (min-width: 800px) {
    .p-avis-passengers {
        margin-bottom: 6%;
    }
}
.global-avis {
    width: 19.8rem;
    height: 9rem;
}
@media (min-width: 800px) {
    .global-avis {
        height: 20rem;
        width: 31.5rem;
    }
}
.avis-content {
    width: 21rem;
    height: 9rem;
    background-color: #936037;
    border: 2px solid white;
    overflow: auto;
}
@media (min-width: 800px) {
    .avis-content {
        height: 15rem;
        width: 31.5rem;
    }
}
.last-avis, .fivth-avis, .fourth-avis, .third-avis, .second-avis, .first-avis {
    height: 60px;
    width: 98%;
    background-color: #CBBBA0;
    border: 2px solid #95C11F;
    margin: 0 1%;
}
.photo-avis {
    height: 94%;
    width: 13%;
    background-color: white;
    border: 1px solid black;
    margin: 0.5% 0 0 0.5%;
}
@media (min-width: 800px) {
    .photo-avis {
        width: 9%;
    }
}
.infos-avis {
    height: 94%;
    margin: 0.3% 0 0 0.3%;
    width: 25%;
}

.pseudo-avis, .note-avis, .nbr-trajet-avis {
    font-size: 12px;

}
.avis  {
    height: 94%;
    width: 60.5%;
    background-color: black;
    border: 1px solid white;
    margin: 0.5% 0 0 0.3%;
    overflow: auto;
}
@media (min-width: 800px) {
    .avis {
        width: 64.5%;
    }
}
.p-message-passenger {
    font-size: 10px;
    font-weight: 500;
}
@media (min-width: 800px) {
    .p-message-passenger {
        font-size: 12px;
    }
}
.button-participer {
    height: 30px;
    width: 40%;
    background-color: #CBBBA0;
    border-radius: 5px;
    margin-top: 2%;
    padding-top: 0.6%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #95C11F;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
}
@media (min-width: 800px) {
    .button-participer {
        width: 30%;
        margin-top: 3%;
        padding-top: 0.25%;
    }
}

.frame-new-date {
    width: 22rem;
    height: 16rem;
    background-color: #34280C;
    border: 3px solid white;
}
@media (min-width: 800px) {
    .frame-new-date {
        width: 35rem;
       height: 15rem;
    }
}
.h5-new-date {
    font-size: 16px;
    font-weight: bold;
    width: 80%;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #95C11F;
}
.text-new-date {
    width: 90%;
}
.input-new-date {
    width: 60%;
}
@media (min-width: 800px) {
    .input-new-date {
        width: 40%;
    }
}
.div-button-connect {
    height: 2rem;
    width: 100%;
}
.button-connect {
    height: 100%;
    width: 40%;
    padding: 0 !important;
}
@media (min-width: 800px) {
    .button-connect {
        width: 30%;
        margin-top: 3% !important;
    }
}