.historic-driver-wrapper, .historic-passenger-wrapper /* page historique */ {
    background-color: #CBBBA0;
    /* width: 45vw; */
    border: 2px solid black;
    padding: 1rem;
}

.title-driver, .title-passenger /* page historique */ {
    /* height: 5vh; */
    /* width: 100vw; */
}

.content_ticket-next-ride /* page historique */ {
    width: 100%;
}

.ticket-next-ride /* page historique */ {
    border: 2px solid black;
    /* height: 132px;
    width: 70%; */
    margin-bottom: 0.5%;
    width: 340px;
}

.text-ticket /* page historique */ {
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: #95C11F;
    color: #346928;
    margin: none;
}

.date_ticket-next-driver, .date_ticket-next-passenger /* page historique */ {
    width: 100%;
}

.infos-ticket /* page historique */ {
    font-family: Arial, Helvetica, sans-serif;
}

.infos-ticket2-3 /* page historique */ {
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
}

.infos-ticket2, .infos-ticket3 {
    width: 50%;
}

.infos-veh /* page historique */ {
    height: 50%;
}

.infos-price /* page historique */ {
    height: 50%;
}

.ticket /* page historique */ {
    background-color: #34280C;
    /* height: 100px; */
    width: 98%;
    border: 2px solid white;

}

.last-ticket /* page historique */ {
    /* height: 100px; */
    width: 98%;
    background-color: white;
    border: 1px solid black;
}

.separateur /* page historique */ {
    width: 1%;
    background-color: black;
    margin-top: 1.7%;
    margin-bottom: 1.3%;
    border-radius: 10px;
}

