
.intro-line {
    opacity: 0;
    transform: translateY(0);
    animation: fadeInUp 0.5s ease-out forwards;
    // transform: translateY(20px);
    // transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.h2-home-page.intro-line {
    animation-delay: 0.3s;
}

.h2-home-page.animated-title{
    animation: fadeOut 1.5s ease-out forwards;
}
.title-ecoride.intro-line {
    animation-delay: 0.9s;
}
.les-depl .intro-line {
    animation-delay: 1.5s;
    // border: 3px solid red !important;
}
.eco-img.intro-line {
    animation-delay: 2.3s;
}
.logiques-nomiques.intro-line {
    animation-delay: 3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    33% {
        opacity: 0;
        transform: translateX(120%);
    }
    66% {
        opacity: 0;
        transform: translateX(-120%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
// .intro-line.show {
//     opacity: 1;
//     transform: translateY(0);
//     animation: fadeInUp 0.8s ease-out forwards;
// }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// .intro-line {
//     opacity: 0;
//     transform: translateY(20px);
//     transition: opacity 0.8s ease-out, transform 0.8s ease-out;
// }

// .intro-line.visible {
//     opacity: 1;
//     transform: translateY(0);
// }

.h2-home-page {
    margin-top: 4%;
}

.title-ecoride {
    height: 25vh;
    width: 75vw;
    display: flex;
}
.title-img {
    height: 15vh;
    width: 100%;
}
h1 {
    margin-top: 1%;
}
.logiques-nomiques {
    margin-top: 5%;
}
@media (min-width: 800px) {
    .logiques-nomiques {
        margin-top: 2.5%;
    }
}
@media (min-width: 1200px) {
    .logiques-nomiques {
        margin-top: 1.2%;
    }
}
.ecoride-title-img {
    height: 20vh;
    width: 100%;
}

.img-paysage2 {
    position: relative;
    height: 250px;
    width: 320px;
    background-size: cover;
    overflow: hidden;
}
.bg-paysage2 {
    height: 250px;
    width: 320px;
}
@media (min-width: 800px) {
    .bg-paysage2 {
        position: relative;
        height: 480px;
        width: 780px;
        background-size: cover;
        overflow: hidden;
    }
    .img-paysage2 {
        position: relative;
        height: 480px;
        width: 780px;
        background-size: cover;
        overflow: hidden;
    }
}
@media (min-width: 1200px) {
    .img-paysage {
        position: relative;
        height: 548px;
        width: 1181px;
        background-size: cover;
        overflow: hidden;
        .filter-bg {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 10;
            transition: opacity 0.35s ease-out;
        }
        .filter-1-bg {
            background: rgb(48, 48, 48, 0.5);
            left: 0;
            width: calc(100% / 3);
        }
        .filter-2-bg {
            background: rgb(48, 48, 48, 0.4);
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% / 3);
        }
        .filter-3-bg {
            background: rgb(48, 48, 48, 0.4);
            right: 0;
            width: calc(100% / 3);
        }
        .filter-bg:not(.hidden) {
            opacity: 1;
        }
        .filter-1:not(.hidden) {
            background: rgb(48, 48, 48, 0.5);
        }
        .filter-2-bg:not(.hidden) {
            background: rgb(48, 48, 48, 0.5);
        }
        .filter-3-bg:not(.hidden) {
            background: rgb(48, 48, 48, 0.5);
        }
        .filter-bg.hidden {
            opacity: 0;
            transition: opacity 0.25s ease-out;
        }
    }
}

/****  Car style ****/
.img-car-wrapper {
    position: absolute;
        z-index: 10;
        height: 80px;
        width: 200px;
        bottom: 80px;
        left: 80px;
        z-index: 5;
        // transform: translateX(980px);
}
.whole-car {
    height: 80px;
    width: 200px;

}
@media (min-width: 800px) {
    .img-car-wrapper {
        position: absolute;
        z-index: 10;
        height: 110px;
        width: 500px;
        bottom: 175px;
        left: 170px;
        // transform: translateX(780px);
    }
}
@media (min-width: 1200px) {
    .img-car-wrapper2 {
        position: absolute;
        z-index: 5;
        height: 110px;
        width: 500px;
        bottom: 160px;
        transform: translateX(980px);
    }
}
@media (min-width: 800px) {
    .whole-car {
        height: 110px;
        width: 500px;
    }
}
@media (min-width: 1200px) {
    .car {
        height: 132px;
        width: 688px;
    }
}
/****  Wheels style ****/
@media (min-width: 1200px) {
    .back-wheel,
    .front-wheel{
        position: absolute;
        z-index: 15;
        height: 59px;
        width: 59px;
        top: 4.5rem;
        /* animation */
    }
}
@media (min-width: 1200px) {
    .back-wheel {
        left: 273px;
    }
}
@media (min-width: 1200px) {
    .front-wheel{
        left: 39px;
    }
}

/**** Dashed lines ****/
.dashed-lines {
    position: absolute;
        z-index: 5;
        bottom: 17px;
        right: 0.2px;
        // animation: dashedLinesAnim 3s linear forwards infinite;
        // transform: translateX(-1150px);
        width: 280%;
        height: 3px;

}
@media (min-width: 800px) {
    .dashed-lines{
        position: absolute;
        z-index: 5;
        bottom: 0px;
        right: -0.5px;
        // animation: dashedLinesAnim 3s linear forwards infinite;
        // transform: translateX(-1150px);
        width: 200%;
        height: 4px;
    }
}
@media (min-width: 1200px) {
    .dashed-lines2{
        position: absolute;
        z-index: 5;
        bottom: 124px;
        animation: dashedLinesAnim 3s linear forwards infinite;
        transform: translateX(-1150px);
        width: 200%;
        height: 10px;
    }
}

/**** Car Animation ****/
@media (min-width: 1200px) {
    .img-car-wrapper2 {
        animation: carAnim 5s linear forwards infinite;
    }
}
@keyframes carAnim {
    to {
        transform: translateX(-980px);
    }
}
@keyframes dashedLinesAnim {
    to {
        transform: translateX(-4.5%);
    }
}
@media (min-width: 1200px) {
    .front-wheel, .back-wheel {
        animation: rotate1 0.2s linear infinite;
    }
}
@keyframes rotate1 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

.credofferts-content {
    margin-top: 2%;
}
.credits-offerts {
    height: 156px;
    width: 650px;
    rotate: -7.5deg;
}

.text-pres {
    height: 800px;
    width: 1190px;
    border: 3px solid black;
    margin-top: 8%;
}
@media (min-width: 800px) {
    .text-pres {
        height: 700px;
        width: 1190px;
        border: 3px solid black;
        margin-top: 8%;
}
}
.first-text, .fiveth-text {
    height: 100px;
    width: 100%;
    margin-top: 1%;
}
.text-bienv {
    height: 100px;
    width: 100%;
}
.prem-parag {
    margin-top: 2%;
}
.second-text {
    height: 100px;
    width: 80%;
    margin-bottom: 15%;
}
@media (min-width: 800px) {
    .second-text {
        margin-bottom: 0;
    }
}
.fourth-text {
    margin-bottom: 5%;
}
.third-text {
    height: 100px;
    width: 65%;
    margin-bottom: 7.5%;
}
@media (min-width: 800px) {
    .third-text {
        margin-bottom: 0;
    }
}
.smiley-icon, .img-smiley-icon {
    height: 121px;
    width: 121px;
}


.h1-history /* h1 page historique */ {
    margin-top: 5%;
    margin-bottom: 1%;
}

h2, .les-depl, h1 /* h1 page historique */ {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2, h1 /* h1 page historique */ {
    margin-top: 8%;
}