<footer>
    <div class="filter-footer">
        <div class="footer-content d-flex">
            <div class="mentions-legales">
                <div class="text-content d-flex justify-content-center">
                    <p class="text-mentions-legales text-center mt-5">&copy; copyrights</p>
                </div>
            </div>
            <div class="sep mt-2"></div>
            <div class="email-contact">
                <div class="text-content d-flex justify-content-center">
                    <p class="text-email-contact text-center mt-5">ecoride@contact.fr</p>
                </div>
            </div>
        </div>
    </div>

</footer>
