<footer>
    <div class="footer-content">
        <div class="mentions-legales pt-3">
             <p class=" d-block text-center text-mentions-legales">&copy; copyrights</p>
        </div>
        {# <div class="sep mt-2"></div> #}
        <div class="email-contact pt-3">
            <p class="d-block text-center text-email-contact">ecoride@contact.fr</p>
        </div>
    </div>
</footer>
