<footer>
    <div class="footer-content d-flex">
        <div class="mentions-legales">
             <p class=" d-block text-center text-mentions-legales mt-5">&copy; copyrights</p>
        </div>
        <div class="sep mt-2"></div>
        <div class="email-contact">
            <p class="d-block text-center text-email-contact mt-5">ecoride@contact.fr</p>
        </div>
    </div>
</footer>
