<footer>
    <div class="filter-footer">
        <div class="footer-content d-flex">
            <div class="mentions-legales">
                <p class="text-white text-center mt-5">&copy; copyrights</p>
            </div>
            <div class="sep mt-2"></div>
            <div class="email-contact">
                <p class="text-white text-center mt-5">ecoride@contact.fr</p>
            </div>
        </div>
    </div>

</footer>
