<div class="d-flex justify-content-center search-wrapper">
    <div class="search-button-wrapper">
        <div class="search-bg-wrapper">
            <img src="{{ asset("images/search-icon_bg.png") }}">
        </div>
        <div class="search-icon-wrapper">
            <img src="{{ asset("images/search-icon.svg") }}">
        </div>
    </div>
    <div class="search-bar-content">
        <img class="" src="{{ asset("images/searchbar-content.svg") }}">
        {# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form> #}
    </div>
</div>
